@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600&family=Roboto:wght@300&display=swap');

body {
    background-color: #252525;
    font-family: "Roboto";
    font-weight: 300;
    font-size: 18px;
    color: rgb(245, 245, 245);

    -webkit-font-smoothing: antialiased;
    -webkit-overflow-scrolling: touch;
}

header {
    margin-bottom: 10px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "Raleway";
    font-weight: 500;
    color: rgb(245, 245, 245);
    margin-top: 5px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 10px;
}

p {
    line-height: 28px;
    margin-bottom: 25px;
}

a {
    color: rgb(245, 245, 245);
    text-decoration: none;
    outline: 0;
}

a:hover, a:focus {
    color: #9e1c1c;
    text-decoration: none;
    outline: 0;
}

.navbar {
    font-weight: 500;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.announcer {
    background-color: #363636;
    margin-top: 10px;
    margin-bottom: 20px;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    border-radius: 15px;
}

.announcer-content {
    padding-bottom: 20px;
    position: relative;
}

.main-img {
    height: 350px;
    width: 100%;
}

.text-image {
    position: absolute;
    bottom: 10%;
    color: white;
    width: 90%;
}

main > h2 {
    padding-top: 10px;
}
main {
    background-color: #363636;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 20px 20px 20px 20px;
    border-radius: 15px;
}

.last-news {
    background-color: #1a1a1a;
    border-radius: 5px;
    padding: 15px 15px 5px 15px;
    margin-left: 5px;
    margin-bottom: 5px;
}

.main-blogs {
    background-color: #1a1a1a;
    border-radius: 5px;
    margin-left: 20px;
    margin-top: 20px;
    padding: 20px;
    position: relative;
}
